@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
* {
  box-sizing: border-box;
}
:root {
    --bg-color: #13331a;
    --primary-color: #DDDDDD;
    --secondary-color: #eb0606;
    --font: "Nunito Sans", sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: var(--font);
    height: 100vh;
    margin: 0;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #8f6027;
  background-color: #DDDDDD; 
  color: #13331a;
  padding: 10px 30px;
  flex-wrap: wrap;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo-img {
  width: 90px;
  height: 90px;
  border-radius: 40%; 
}

.logo-container h1 {
  font-size: 2rem;
  margin: 0;
  font-weight: bold;
}

.menu-nav {
  display: flex;
  gap: 15px;
}

.menu-nav a {
  color: #13331a;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: color 0.3s;
}

.menu-nav a:hover {
  color: #13331a;
}
header {
    background-color: var(--primary-color);
    text-align: center;
    padding: 1px;
}

h1 {
    font-size: 2rem;
    color:#13331a;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a {
    text-decoration: none;
    color: #13331a;
    margin: 1rem 2rem 1rem 2rem;
    font-size: 1.4rem;
}

nav a:hover {
    text-decoration: underline;
    transform: scale(0.90);
    transition: transform 0.1s;
}

main {
  padding: 0 20px;
}

/* Bloco da Logo */
.bloco-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 30px auto;
  background-color: #c78c44;
  border: 5px solid #8f6027;
  border-radius: 12px;
  padding: 30px;
}

.logo-imagem img {
  width: 250px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.logo-texto {
  flex: 1;
}

.logo-titulo {
  font-size: 1.5rem;
  line-height: 1.6;
  text-align: justify;
  color: #13331a;
}

.bloco-abertura {
  max-width: 1100px;
  margin: 40px auto;
  padding: 30px;
  background-color: #DDDDDD;
  border: 5px solid #8f6027;
  border-radius: 10px;
}

.abertura-texto h2 {
  font-size: 1.4rem;
  text-align: justify;
  line-height: 1.6;
  color: #13331a;
}

/* Bloco Explicativo (imagem isolada) */
.bloco-explic {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.explic-imagem img {
  max-width: 100%;
  height: 350px;
  border-radius: 13px;
  border: 4px solid #8f6027;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

/* Bloco Publicitário */
.bloco-public {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px auto;
  padding: 30px;
  background-color: #fffbea;
  border: 4px solid #8f6027;
  border-radius: 12px;
}

.public-texto {
  flex: 1;
  max-width: 600px;
}

.public-titulo {
  font-size: 1.4rem;
  text-align: justify;
  line-height: 1.6;
  color: #13331a;
}

.public-imagem img {
  width: 300px;
  height: auto;
  border-radius: 13px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.bloco-produto {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 40px 30px;
  max-width: 1200px;
  margin: 40px auto;
  flex-wrap: wrap;
  border: 3px solid #eb0606;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

/* Personalização por tipo */
.bloco-legumes {
  background-color: #d3fa9c;
}

.bloco-frutas {
  background-color: #e0fabd;
}

.bloco-hortalicas {
  background-color: #d3fa9c;
}

.bloco-temperos {
  background-color: #e0fadb;
}

.bloco-baby {
  background-color: #d3fa9c; 
}

/* Imagem dos produtos */
.imagem-produto img {
  width: 400px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Texto dos produtos */
.texto-produto {
  flex: 1;
  max-width: 600px;
  padding: 20px;
}

/* Título */
.titulo-produto {
  font-size: 1.8rem;
  color: #13331a;
  margin-bottom: 10px;
  font-family: Arial, sans-serif;
}

/* Slogan e descrição */
.slogan-produto,
.descricao-produto {
  font-size: 1.3rem;
  line-height: 1.6;
  text-align: justify;
  color: #293D09;
}

.cabecalho {
  background-color:#abf3bb;
  color: #293D09;
  padding: 20px;
  text-align: center;
}

.conteudo {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 20px;
}

.bloco {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: justify;
  margin-bottom: 40px;
  gap: 20px;
  border: 5px solid #eb0606;
  border-radius: 8px;
  padding: 20px;
}

.bloco.invertido {
  flex-direction: row-reverse;
}

.texto {
  flex: 1;
  min-width: 280px;
  text-align: justify;
}

.texto h2 {
  color: #DDDDDD;
  margin-bottom: 10px;
}

.texto p {
  font-size: 1.3rem;
  line-height: 1.6;
}

.imagem {
  flex: 1;
  text-align: center;
}
.filtro-img {
  width: 20rem;
  height: 18rem;
  border-radius: 13px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rota-img {
  width: 20rem;
  height: 18rem;
  border-radius: 13px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fidelidade-img {
  width: 20rem;
  height: 18rem;
  border-radius: 13px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imagem-fidelidade img {
  width: 200%;
  max-width: 320px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.destaque {
  background-color:#f3f3f1;
  border-left: 6px solid #DDDDDD;
  padding: 25px;
  margin-bottom: 50px;
  border-radius: 12px;
  border: 4px solid #eb0606;
  font-size: 1.4rem;    
  color: #13331a;      
  font-weight: 800;     
  line-height: 1.6;     
} 

.destaque h2 {
  margin-bottom: 10px;
  color: #13331a;
  font-size: 1.6rem;      
  font-weight: 600;       
  line-height: 1.4;     
}

.rodape {
  background-color:#13331a;
  text-align: center;
  padding: 15px;
  font-size: 1,2rem;
  color: #666;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    background-color: var(--primary-color);
    color: #13331a;
    border: 3px solid #8f6027;
    border-radius: 14px;
    width: 99%;
    height: 4rem;
    margin-top: 2rem;
}







